.orgchart {
  background: #fff !important; 
}
.orgchart td.left, .orgchart td.right, .orgchart td.top {
  border-color: #aaa !important;
}
.orgchart td>.down {
  background-color: #aaa !important;
}
.orgchart .top-level{
	width:220px !important;
}

.orgchart.l2r .top-level{
	width:70px !important;
}

.orgchart .top-level .title {
  background-color: #DB7093 !important;
}
.orgchart .top-level .content {
  border-color: #DB7093 !important;
}

.orgchart .level_1-type_1 .title {
  background-color: #5178a6 !important;
}
.orgchart .level_1-type_1 .content {
  border-color: #5178a6 !important;
}

.orgchart .level_2-type_1 .title {
  background-color: #96b1d2 !important;
}
.orgchart .level_2-type_1 .content {
  border-color: #96b1d2 !important;
}

.orgchart .level_3-type_1 .title ,.orgchart .level_4-type_1 .title,.orgchart .level_5-type_1 .title,.orgchart .level_6-type_1 .title,.orgchart .level_7-type_1 .title,,.orgchart .level_8-type_1 .title {
  background-color: #b5c8de !important;
}
.orgchart .level_3-type_1 .content,.orgchart .level_4-type_1 .content,.orgchart .level_5-type_1 .content,.orgchart .level_6-type_1 .content,.orgchart .level_7-type_1 .content,.orgchart .level_8-type_1 .content {
  border-color: #b5c8de !important;
}

.orgchart .level_1-type_0 .title {
  background-color: #576b2f !important;
}
.orgchart .level_1-type_0 .content {
  border-color: #576b2f !important;
}

.orgchart .level_2-type_0 .title {
  background-color: #799340 !important;
}
.orgchart .level_2-type_0 .content {
  border-color: #799340 !important;
}

.orgchart .level_3-type_0 .title ,.orgchart .level_4-type_0 .title,.orgchart .level_5-type_0 .title,.orgchart .level_6-type_0 .title,.orgchart .level_7-type_0 .title,.orgchart .level_8-type_0 .title  {
  background-color: #9cbc5d !important;
}
.orgchart .level_3-type_0 .content, .orgchart .level_4-type_0 .content,.orgchart .level_5-type_0 .content,.orgchart .level_6-type_0 .content,.orgchart .level_7-type_0 .content,.orgchart .level_8-type_0 .content{
  border-color: #9cbc5d !important;
}


.orgchart .node .title {background-color: #d2a1a0; border-radius:0 !important;font-size: 14px !important;}

/* .orgchart .node {box-shadow: 2px 6px 8px 22px #eee inset;} */
.orgchart .node .content {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 14px;
  border-radius:0 !important; 
  font-size: 13px !important; 
  white-space: nowrap !important;
}
.orgchart.t2b .node{
	width: 150px !important;
}
.orgchart.l2r .node .content {
  display: -moz-inline-box;
  line-height: 26px;
  text-overflow: ellipsis !important;
}
.orgchart.l2r .node.focused {
  background-color: none !important;
}
.orgchart.l2r .node:hover {
  background-color: none !important;
}